#content{
    margin: 0 auto;
}
#logo_menu{
    list-style: none;
}
#logo_menu li{
    display: inline-block;
}
#search{
    display: inline-block;
}
#menu div{
    display: inline-block;
    margin: 10px 20px;
}
#banner{
    list-style: none;
}